


.text-perfectBlue {
  color: #406097 !important;
}

.background-perfectBlue {
  background-color: #336698 !important;
  color: white;
}

.border-Width-2x {
  border-width: 2px 1px !important;
}

.wrkExpListStyle {
  list-style-type: disc !important;
  padding-left:1em !important;
}
